# Telegram Bot
TELEGRAM_BOT_TOKEN=seu_token_aqui
WEBHOOK_URL=https://seu-dominio.com/webhook

# MySQL / Infinity Free
DB_HOST=sqlxxx.epizy.com
DB_PORT=3306
DB_NAME=if0_41884898_aurorarpg
DB_USER=if0_41884898
DB_PASS=SuaSenhaDoInfinityFree

# Application
APP_ENV=development
